@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap");
html,
body {
  background-color: #e9e9e9;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 300;
  vertical-align: baseline;
  height: 100%;
}
html *,
body * {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  width: 100%;
  display: inline-flex;
  flex-direction: column;
}
main > * {
  border: 1px solid purple;
}

img {
  line-height: 0;
}

button {
  margin: 0;
  padding: 0;
  border: 0;
}

.container {
  height: 100%;
  margin: auto;
}
@media only screen and (min-width: 600px) {
  .container {
    min-width: 600px;
    max-width: 680px;
  }
}

.table {
  display: table;
}
.table__cell {
  display: table-cell;
  height: 100%;
}
.table__cell--bottom {
  vertical-align: bottom;
}

.box {
  padding: 12px 16px;
  overflow: hidden;
}
.box div + div {
  margin-top: 4px;
}

.flex {
  display: flex;
  flex-direction: column;
}
.flex.v-centered {
  align-items: center;
  justify-content: center;
}
.flex.v-centered > * {
  width: 100%;
}
.flex--row {
  flex-direction: row;
}
.flex--wrap {
  flex-wrap: wrap;
}
.flex--end {
  align-self: flex-end;
  align-items: flex-end;
}
.flex--grow {
  flex-grow: 1;
}
.flex--order-a {
  order: 1;
}
.flex--order-b {
  order: 2;
}
.flex--order-c {
  order: 3;
}
.flex > div::before,
.flex > div::after {
  flex-basis: 0;
  order: 1;
}

@media only screen and (min-width: 600px) {
  .flex-desktop {
    display: flex;
    flex-direction: column;
  }
  .flex-desktop.v-centered {
    align-items: center;
    justify-content: center;
  }
  .flex-desktop.v-centered > * {
    width: 100%;
  }
  .flex-desktop--row {
    flex-direction: row;
  }
  .flex-desktop--wrap {
    flex-wrap: wrap;
  }
  .flex-desktop--end {
    align-self: flex-end;
    align-items: flex-end;
  }
  .flex-desktop--grow {
    flex-grow: 1;
  }
  .flex-desktop--order-a {
    order: 1;
  }
  .flex-desktop--order-b {
    order: 2;
  }
  .flex-desktop--order-c {
    order: 3;
  }
  .flex-desktop > div::before,
  .flex-desktop > div::after {
    flex-basis: 0;
    order: 1;
  }
}

.block {
  display: block;
}

.text {
  font-size: 14px;
  font-weight: 300;
}
.text--normal {
  font-weight: 500;
}
.text--bold {
  font-weight: 700;
}
.text--x2 {
  font-size: 18px;
}
.text--x3 {
  font-size: 24px;
}
.text--highlight {
  color: #87f12d;
}

.pad-l-0 {
  padding-left: 0px;
}

.pad-l-4 {
  padding-left: 4px;
}

.pad-l-8 {
  padding-left: 8px;
}

.pad-l-12 {
  padding-left: 12px;
}

.pad-l-16 {
  padding-left: 16px;
}

.pad-l-20 {
  padding-left: 20px;
}

.pad-l-24 {
  padding-left: 24px;
}

.pad-r-0 {
  padding-right: 0px;
}

.pad-r-4 {
  padding-right: 4px;
}

.pad-r-8 {
  padding-right: 8px;
}

.pad-r-12 {
  padding-right: 12px;
}

.pad-r-16 {
  padding-right: 16px;
}

.pad-r-20 {
  padding-right: 20px;
}

.pad-r-24 {
  padding-right: 24px;
}

.pad-t-0 {
  padding-top: 0px;
}

.pad-t-4 {
  padding-top: 4px;
}

.pad-t-8 {
  padding-top: 8px;
}

.pad-t-12 {
  padding-top: 12px;
}

.pad-t-16 {
  padding-top: 16px;
}

.pad-t-20 {
  padding-top: 20px;
}

.pad-t-24 {
  padding-top: 24px;
}

.pad-b-0 {
  padding-bottom: 0px;
}

.pad-b-4 {
  padding-bottom: 4px;
}

.pad-b-8 {
  padding-bottom: 8px;
}

.pad-b-12 {
  padding-bottom: 12px;
}

.pad-b-16 {
  padding-bottom: 16px;
}

.pad-b-20 {
  padding-bottom: 20px;
}

.pad-b-24 {
  padding-bottom: 24px;
}

.mar-l-0 {
  margin-left: 0px;
}

.mar-l-4 {
  margin-left: 4px;
}

.mar-l-8 {
  margin-left: 8px;
}

.mar-l-12 {
  margin-left: 12px;
}

.mar-l-16 {
  margin-left: 16px;
}

.mar-l-20 {
  margin-left: 20px;
}

.mar-l-24 {
  margin-left: 24px;
}

.mar-r-0 {
  margin-right: 0px;
}

.mar-r-4 {
  margin-right: 4px;
}

.mar-r-8 {
  margin-right: 8px;
}

.mar-r-12 {
  margin-right: 12px;
}

.mar-r-16 {
  margin-right: 16px;
}

.mar-r-20 {
  margin-right: 20px;
}

.mar-r-24 {
  margin-right: 24px;
}

.mar-t-0 {
  margin-top: 0px;
}

.mar-t-4 {
  margin-top: 4px;
}

.mar-t-8 {
  margin-top: 8px;
}

.mar-t-12 {
  margin-top: 12px;
}

.mar-t-16 {
  margin-top: 16px;
}

.mar-t-20 {
  margin-top: 20px;
}

.mar-t-24 {
  margin-top: 24px;
}

.mar-b-0 {
  margin-bottom: 0px;
}

.mar-b-4 {
  margin-bottom: 4px;
}

.mar-b-8 {
  margin-bottom: 8px;
}

.mar-b-12 {
  margin-bottom: 12px;
}

.mar-b-16 {
  margin-bottom: 16px;
}

.mar-b-20 {
  margin-bottom: 20px;
}

.mar-b-24 {
  margin-bottom: 24px;
}

/* Margin */
.mar-s {
  margin: 8px;
}
@media only screen and (min-width: 600px) {
  .mar-s {
    margin: 0;
  }
  .mar-s:not(.mar-s--mobile-only) {
    margin: 12px;
  }
}

.mar-m {
  margin: 16px;
}
@media only screen and (min-width: 600px) {
  .mar-m {
    margin: 24px;
  }
}

.mar-l {
  margin: 24px;
}

/* Padding */
.pad-s {
  padding: 8px;
}
@media only screen and (min-width: 600px) {
  .pad-s {
    padding: 12px;
  }
}

.pad-m {
  padding: 16px;
}
@media only screen and (min-width: 600px) {
  .pad-m {
    padding: 24px;
  }
}

.pad-l {
  padding: 24px;
}

.clearfix::after {
  display: block;
  content: '';
  clear: both;
}

.animated__flip__inner {
  position: relative;
  width: 100%;
  height: 206px;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.animated__flip__inner--turned {
  transform: rotateY(180deg);
}
.animated__flip__inner__card {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  opacity: 1;
}
.animated__flip__inner__card.hide {
  display: none;
  transition: display 2s;
}
.animated__flip__inner__card__flipped {
  color: white;
  transform: rotateY(180deg);
}

button {
  position: relative;
  background-color: #f95f1c;
  color: #fbfbfb;
  padding: 0;
  width: 100%;
  height: auto;
  margin-top: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 40px;
  font-size: 11px;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 700;
  cursor: pointer;
}
button.icon-onhover i {
  display: none;
}
button:hover {
  background-color: #f96a2b;
}
button:hover.icon-onhover i {
  display: block;
}
button i {
  top: 2px;
  font-size: 14px;
  font-weight: bold;
  line-height: inherit;
  vertical-align: middle;
  text-align: left;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 8px;
  color: #f95f1c;
}
button:focus {
  outline: 0;
}
@media only screen and (min-width: 600px) {
  button {
    margin-top: 0;
    line-height: 30px;
    max-width: 140px;
  }
}
button.btn--light {
  background-color: #e7e7e7;
  color: #272727;
}
button.btn--light:hover {
  background-color: white;
}

.ribbon {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  right: 0px;
}

.ribbon span {
  position: absolute;
  display: block;
  width: 225px;
  padding: 4px 0;
  background-color: #f95f1c;
  box-shadow: 0 5px 2px rgba(0, 0, 0, 0.7);
  color: #fff;
  font-size: 20px;
  line-height: 1;
  font-weight: bold;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  text-align: center;
}

.ribbon::before,
.ribbon::after {
  border-top-color: transparent;
  border-right-color: transparent;
}

.ribbon::before {
  top: 0;
  left: 0;
}

.ribbon::after {
  bottom: 0;
  right: 0;
}

.ribbon span {
  left: -16px;
  top: 30px;
  transform: rotate(45deg);
}

.lead_moment_thousand {
  background-color: #272727;
  color: #fbfbfb;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 680px;
}
@media only screen and (min-width: 600px) {
  .lead_moment_thousand {
    flex-direction: row;
    height: 206px;
  }
}
.lead_moment_thousand__terms {
  position: relative;
}
.lead_moment_thousand__terms p {
  position: relative;
  margin: 8px auto;
  padding-bottom: 12px;
}
@media only screen and (min-width: 600px) {
  .lead_moment_thousand__terms p {
    overflow: scroll;
    height: 80px;
    text-overflow: ellipsis;
  }
}
@media only screen and (min-width: 600px) {
  .lead_moment_thousand__terms:after {
    content: '';
    position: absolute;
    top: 70px;
    bottom: auto;
    left: 0;
    height: 20px;
    width: 100%;
    z-index: 0;
    background: -webkit-linear-gradient(transparent, #272727);
    background: -o-linear-gradient(transparent, #272727);
    background: -moz-linear-gradient(transparent, #272727);
    background: linear-gradient(transparent, #272727);
  }
}
.lead_moment_thousand__image {
  padding: 20px 16px;
}
@media only screen and (min-width: 600px) {
  .lead_moment_thousand__image {
    padding: 0;
  }
}
.lead_moment_thousand__image picture img {
  width: 100%;
  margin: auto;
  max-width: 100%;
  max-height: 300px;
  object-fit: contain;
}
@media only screen and (min-width: 600px) {
  .lead_moment_thousand__image picture img {
    width: auto;
  }
}
.lead_moment_thousand__buttons {
  height: auto;
}
@media only screen and (min-width: 600px) {
  .lead_moment_thousand__buttons {
    flex-shrink: 0;
    height: 30px;
  }
}
.lead_moment_thousand__buttons__flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  flex-shrink: 0;
}
@media only screen and (min-width: 600px) {
  .lead_moment_thousand__buttons__flex {
    flex-wrap: nowrap;
    height: 30px;
  }
}
.lead_moment_thousand__buttons__flex__child {
  flex: 0 0 49%;
}
.lead_moment_thousand__buttons__flex__child:first-child {
  flex: 1 1 100%;
}
@media only screen and (min-width: 600px) {
  .lead_moment_thousand__buttons__flex__child:first-child {
    flex: 0 0 32%;
    order: 3;
  }
}
@media only screen and (min-width: 600px) {
  .lead_moment_thousand__buttons__flex__child {
    flex: 0 0 32%;
  }
}
