.animated {
  &__flip {
    &__inner {
      position: relative;
      width: 100%;
      height: 206px;
      transition: transform 0.6s;
      transform-style: preserve-3d;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

      &--turned {
        transform: rotateY(180deg);
      }

      &__card {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        opacity: 1;

        &.hide {
          display: none;
          transition: display 2s;
        }

        &__flipped {
          color: white;
          transform: rotateY(180deg);
        }
      }
    }
  }
}
