button {
  position: relative;
  background-color: $primary-color;
  color: $gray;
  padding: 0;
  width: 100%;
  height: auto;
  margin-top: $spacing-s;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 40px;
  font-size: 11px;
  font-family: $primary-font;
  font-weight: $weight-l;
  cursor: pointer;

  &.icon-onhover {
    i {
      display: none;
    }
  }

  &:hover {
    &.icon-onhover {
      i {
        display: block;
      }
    }

    background-color: lighten($primary-color, 3%);
  }

  i {
    top: 2px;
    font-size: 14px;
    font-weight: bold;
    line-height: inherit;
    vertical-align: middle;
    text-align: left;
    position: absolute;
    height: 100%;
    width: 100%;
    left: $spacing-s;
    color: $primary-color;
  }

  &:focus {
    outline: 0;
  }

  @include desktop {
    margin-top: 0;
    line-height: 30px;
    max-width: 140px;
  }

  &.btn--light {
    background-color: darken($gray, 8%);
    color: $light-text;

    &:hover {
      background-color: lighten($gray, 4%);
    }
  }
}
