.container {
  height: 100%;
  margin: auto;

  @include desktop {
    min-width: 600px;
    max-width: 680px;
  }
}

.table {
  display: table;

  &__cell {
    display: table-cell;
    height: 100%;

    &--bottom {
      vertical-align: bottom;
    }
  }
}

.box {
  padding: $spacing-s * 1.5 $spacing-m;
  overflow: hidden;

  div + div {
    margin-top: $spacing-s / 2;
  }
}

@mixin flex {
  display: flex;
  flex-direction: column;

  &.v-centered {
    align-items: center;
    justify-content: center;

    > * {
      width: 100%;
    }
  }

  &--row {
    flex-direction: row;
  }

  &--wrap {
    flex-wrap: wrap;
  }

  &--end {
    align-self: flex-end;
    align-items: flex-end;
  }

  &--grow {
    flex-grow: 1;
  }

  &--order-a {
    order: 1;
  }

  &--order-b {
    order: 2;
  }

  &--order-c {
    order: 3;
  }

  > div::before,
  > div::after {
    flex-basis: 0;
    order: 1;
  }
}

.flex {
  @include flex;
}

.flex-desktop {
  @include desktop {
    @include flex;
  }
}

.block {
  display: block;
}

.text {
  font-size: $font-s;
  font-weight: $weight-s;

  &--normal {
    font-weight: $weight-m;
  }

  &--bold {
    font-weight: $weight-l;
  }

  &--x2 {
    font-size: $font-m;
  }

  &--x3 {
    font-size: $font-l;
  }

  &--highlight {
    color: $highlight-color;
  }
}

$max: 24;
$offset: 4;
$unit: 'px'; // Feel free to change the unit.
@mixin list-loop($className, $styleName) {
  $i: 0;
  @while $i <= $max {
    #{$className + $i} {
      #{$styleName}: #{$i + $unit};
    }
    $i: $i + $offset;
  }
}

@include list-loop('.pad-l-', 'padding-left');
@include list-loop('.pad-r-', 'padding-right');
@include list-loop('.pad-t-', 'padding-top');
@include list-loop('.pad-b-', 'padding-bottom');
@include list-loop('.mar-l-', 'margin-left');
@include list-loop('.mar-r-', 'margin-right');
@include list-loop('.mar-t-', 'margin-top');
@include list-loop('.mar-b-', 'margin-bottom');

/* Margin */
.mar-s {
  margin: $spacing-s;

  @include desktop {
    margin: 0;

    &:not(.mar-s--mobile-only) {
      margin: $spacing-s * 1.5;
    }
  }
}

.mar-m {
  margin: $spacing-m;

  @include desktop {
    margin: $spacing-m * 1.5;
  }
}

.mar-l {
  margin: $spacing-l;
}

/* Padding */
.pad-s {
  padding: $spacing-s;

  @include desktop {
    padding: $spacing-s * 1.5;
  }
}

.pad-m {
  padding: $spacing-m;

  @include desktop {
    padding: $spacing-m * 1.5;
  }
}

.pad-l {
  padding: $spacing-l;
}

.clearfix {
  &::after {
    display: block;
    content: '';
    clear: both;
  }
}
