@mixin debug() {
  // border: 1px solid purple;
}

@mixin reset() {
  margin: 0;
  padding: 0;
  border: 0;
}

html,
body {
  background-color: $body-color;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: $primary-font;
  font-weight: 300;
  vertical-align: baseline;
  height: 100%;

  * {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

main {
  width: 100%;
  display: inline-flex;
  flex-direction: column;

  > * {
    border: 1px solid purple;
  }

  @include debug;
}

img {
  line-height: 0;
}

button {
  @include reset();
}
