.lead_moment_thousand {
  @include debug;
  background-color: $secondary-color;
  color: $gray;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 680px;

  @include desktop {
    flex-direction: row;
    height: 206px;
  }

  &__terms {
    position: relative;

    p {
      position: relative;
      margin: $spacing-s auto;
      padding-bottom: 12px;

      @include desktop {
        overflow: scroll;
        height: 80px;
        text-overflow: ellipsis;
      }
    }

    @include desktop {
      &:after {
        content: '';
        position: absolute;
        top: 70px;
        bottom: auto;
        left: 0;
        height: 20px;
        width: 100%;
        z-index: 0;
        background: -webkit-linear-gradient(transparent, $secondary-color);
        background: -o-linear-gradient(transparent, $secondary-color);
        background: -moz-linear-gradient(transparent, $secondary-color);
        background: linear-gradient(transparent, $secondary-color);
      }
    }
  }

  &__image {
    padding: $spacing-m * 1.25 $spacing-m;

    @include desktop {
      padding: 0;
    }

    picture img {
      width: 100%;
      margin: auto;
      max-width: 100%;
      max-height: 300px;
      object-fit: contain;
      @include desktop {
        width: auto;
      }
    }
  }

  &__buttons {
    height: auto;

    @include desktop {
      flex-shrink: 0;
      height: 30px;
    }

    &__flex {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      flex-direction: row;
      flex-shrink: 0;

      @include desktop {
        flex-wrap: nowrap;
        height: 30px;
      }

      &__child {
        flex: 0 0 49%;

        &:first-child {
          flex: 1 1 100%;

          @include desktop {
            flex: 0 0 32%;
            order: 3;
          }
        }

        @include desktop {
          flex: 0 0 32%;
        }
      }
    }
  }
}
