.ribbon {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  right: 0px;
}

.ribbon span {
  position: absolute;
  display: block;
  width: 225px;
  padding: 4px 0;
  background-color: $primary-color;
  box-shadow: 0 5px 2px rgba(0, 0, 0, 0.7);
  color: #fff;
  font-size: 20px;
  line-height: 1;
  font-weight: bold;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  text-align: center;
}

.ribbon::before,
.ribbon::after {
  border-top-color: transparent;
  border-right-color: transparent;
}
.ribbon::before {
  top: 0;
  left: 0;
}
.ribbon::after {
  bottom: 0;
  right: 0;
}
.ribbon span {
  left: -16px;
  top: 30px;
  transform: rotate(45deg);
}
