@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');

$body-color: #e9e9e9;
$primary-color: #f95f1c;
$secondary-color: #272727;
$highlight-color: #87f12d;
$gray: #fbfbfb;

$light-text: #272727;
$light-bg: #ffffff;

$primary-font: 'Roboto', Helvetica, Arial, sans-serif;

$spacing-s: 8px;
$spacing-m: 16px;
$spacing-l: 24px;

$font-s: 14px;
$font-m: 18px;
$font-l: 24px;

$weight-s: 300;
$weight-m: 500;
$weight-l: 700;

$factor-grow: 1.5;

$desktop-width: 600px;

@mixin desktop {
  @media only screen and (min-width: #{$desktop-width}) {
    @content;
  }
}
